@import "css/bootstrap.css";
@import "css/font-awesome.css";
@import "css/responsive.css";


/* actor-regular - latin */
@font-face {
  font-family: 'Actor';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/actor-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Actor Regular'), local('Actor-Regular'),
       url('../fonts/actor-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/actor-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/actor-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/actor-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/actor-v7-latin-regular.svg#Actor') format('svg'); /* Legacy iOS */
}

* {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	float: left;
	background-color: #ffffff;
}
header	{
	width: 100%;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10000

}
p {
    margin: 0 0 10px;
    font-size: 15px;
    line-height: 24px;
}
ul li {
	font-size: 15px;
}
.navbar-default {
	margin-top: 30px;
}
.navbar-brand {
	padding: 0px 15px;
}
.navbar-brand > img {
	margin-top: -5px;
	max-width: 240px;
}
.navbar-default .navbar-nav > li > a {
	color:#ffffff;
	font-size: 15px;
}
.navbar-default .navbar-nav > li > a i {
	font-size: 30px;
}
.navbar-default .navbar-nav > li.active a {
	padding: 8px 28px;
}
.navbar-default .navbar-nav {
	margin-left: 5em;
}
.nav > li > a {
	padding: 13px 28px;
}
.dropdown-menu > li > a {
	font-size: 14px;
	background-color: #ffffff;
	color: #000000 !important;
}
.dropdown-menu > li > a:hover {
	background-color: #000000 !important;
	color: #ffffff !important;
}
.dropdown-menu > li {
	background-color: rgba(44,43,43,0.7);
	display: block;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
}
.navbar-right {
	text-align: center;
	margin-right: -46px;
}
.navbar-right span {
	color:#ffffff;
	line-height: 1;
}
.navbar-right h1 {
	color:#ffffff;
	line-height: 1;
	margin: 0px;
	font-family: 'Actor';
	font-size: 24px;
}

.navbar-nav > li > .dropdown-menu {
	border-radius: 5px;
}

.header-quote {
	background: rgba(0,0,0,0.6);
    padding: 5px 50px;
    border-radius: 5px 0px 0px 5px;
}

.navbar-toggle {
	border: 0px;
	margin: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;

}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: transparent;
}

.banner {
	background-image: url(images/banner.jpg);
	position: relative;
	background-size: cover;
	padding: 12% 5%;
}

.banner-caption {
	text-align: center;
}

.banner-caption h1 {
	margin-top: 0px;
	color: #ffffff;
	font-family: "Actor";
	font-size: 40px;
}

.search-filter {

}

.search-filter h3 {
	color: #ffffff;
	font-size: 22px;
}

.no-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.section {
	width: 100%;
	float: left;
	position: relative;
}
.service-section {
	padding: 60px 0px 20px; 
	background-color: #ffffff;
}
.heading {
	text-align: center;
	margin-bottom: 40px;
	padding: 0px 20px;
}
.heading .one-line {
	position: relative;
    bottom: 7px;
}
.heading h1 {
	font-size: 40px;
	font-family: "Actor";
	color: #222222;
	text-transform: uppercase;
	line-height: 28px;
	margin: 0px;
}

.heading h1 span {
	font-size: 18px;
	color: #333333;
	line-height: 0px;
}

.services {
	text-align: center;
	margin-bottom: 40px;
}
.services a {
	text-decoration: none;	
}
.services a img, .services a h3{
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.services a:hover img, .services a:hover h3{
	opacity: 0.6;
}
.services .service-img {
	padding: 7px;
	background-color: #eeeeee;
	display: inline-block;
	width: 85%;
}

.services img {
	width: 100%;
}

.services h3 {
	font-size: 20px;
	color: #464646;
	margin-top: 10px;
}

.installation-section {
	padding: 10% 20px;		
}
.door-bg {
	background: url('images/door-background.jpg') 0px 0px no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.overlay {
	width: 100%;
	float: left;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
}

.install-block {
	width: 100%;
	max-width: 550px;
	margin: 0px auto;
	overflow: hidden;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.7);
	position: relative;
}

.install-img {
	width: 30%;
	padding: 11px 0px;
	float: left;
	border-right: solid 1px #484848;
	min-height: 267px;
}
.install-img img {
	width: 100%;
	opacity: 0.3;
}

.install-content-block {
	width: 70%;
	float: left;
	height: 267px;
	position: relative;
}

.install-desc {
	padding: 30px;
}
.install-desc small {
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 15px;
	letter-spacing: 1px;
}
.install-desc .sup-heading {
	margin-top: 3px;
}
.install-desc h3 {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 21px;
}
.install-desc p {
	color: #eeeeee;
}
.install-button {
	position: absolute;
	bottom: 0px;
	text-align: center;
}

.install-button a {
	padding: 15px;
	display: inline-block;
	width: 100%;
	color: #eeeeee;
	background-color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.install-button a:hover {
	color: #000000;
	background-color: #ffffff;
}
.separator {
	width: 80px;
    height: 1px;
    background-color: #ffffff;
    margin-bottom: 15px;
}

.moulding-bg {
	background: url('images/moulding-installation-bg.jpg') 0px 0px no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.doors-collection, .moulding-collection, .columns-collection {
	padding: 60px 5%;
	background-color: #ffffff;
}

.collection-sections .col-md-2, .collection-sections .col-md-3, .collection-sections .col-md-4, .collection-sections .col-md-5,
.collection-sections .col-md-6, .collection-sections .col-md-7, .collection-sections .col-md-8, .collection-sections .col-md-9,
.collection-sections .col-md-10, .collection-sections .col-md-11 {
	padding-left: 5px;
	padding-right: 5px;
}
.collection-style {
	position: relative;
	background: #000000;
    border-radius: 10px;
    margin-bottom: 10px;
}
.collection-style img {
	width: 100%;
	opacity: 0.7;
	border-radius: 9px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.collection-style a:hover img {
	opacity: 0.4;
}
.collection-caption {
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 30px 10%;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.collection-style a:hover .collection-caption {
	bottom: 15px;
}
.collection-caption h3, .collection-caption p {
	color: #ffffff;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}
.collection-caption h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 28px;
}
.collection-caption p {
	margin-bottom: 0px;
	margin-top: 10px;
	font-size: 15px;
}

.caption-button {
	text-align: center;
	padding-bottom: 30%;
}

.caption-button span {
	border: solid 1px #848484;
    padding: 12px 50px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    color: #ffffff;
    text-transform: uppercase;
}

.collection-style a:hover .caption-button span {
	border: solid 1px #ffffff;
	background: #ffffff;
	color: #000000;
}

.collection-others {
	padding-left: -15px;
	padding-right: -15px;
}

.column-bg {
	background: url('images/column-replacement-bg.jpg') 0px 0px no-repeat;
	background-size: cover;
	background-attachment: fixed;
}



/**************** Slider page css ******************/
.main-header {
	width: 100%;
	float: left;	
} 
.main-header.border-style {
	border-bottom: 1px solid #55585a;
}
.header-top {
	position: relative;
	background: linear-gradient(#252728, #3c3f41);
	width: 100%;
	float: left;
	
}
.header-botom {
	width: 100%;
	float: left;
	text-align: center;
	background-color: #3c3f41;
} 
.header-botom .navbar {
	margin-bottom: 0px;
	min-height: 47px;
}
.header-botom .nav > li > a {
	padding: 3px 0;
}
.header-botom .navbar-default .navbar-nav > li.active a {
	border-bottom: 1px solid #f08f11;
    padding: 3px 0;
}
.header-botom .navbar-default .navbar-nav {
	margin-left: 0em;
	width: 100%;
	float: left;
	text-align: center;
}
.header-botom .navbar-nav > li {
	float: none;
	display: inline-block;
	    margin: 0 14px 0;
}
.banner-slider {
	width: 100%;
	float: left;
	padding-bottom: 75px;
	background-color: #3c3f41;
	
}
.banner-slider .carousel-indicators {
    bottom: -45px;
}
.banner-slider .carousel-indicators .active {
	width: 8px;
	height: 8px;
	margin: 1px;
}
.banner-slider .carousel-indicators li {
	width: 5px;
	height: 5px;
	margin: 0px 5px;
	background-color: rgba(119, 119, 119, 0.98);
	border: 0px;
}
.banner-slider .carousel-indicators li.active {
	background-color: #ffffff;	
	width: 5px;
	height: 5px;
	margin: 0px 5px;
}
.banner-slider i {
	font-size: 3em;
	position: absolute;
	top: 48%;
}
/**************** Contact page css ******************/
.contact-header {
	background: linear-gradient(#0c0c0c, #1e1e1e);
}
.contact-header .main-header { border:none; }
.contact-tittle {
	width: 100%;
	float: left;
	background-color: #1e1e1e;
	text-align: center;
	padding-bottom: 17px;
}
.contact-tittle p {
	color: #ffffff; 
	font-size: 29px;
	font-weight: 300;
	font-family: 'Arial';
}
.contact-section {
	width: 100%;
	float: left;
	background-color: #f5f5f5;


}
.white-bg {
	background-color: #ffffff;
}
.contact-info {
	padding: 7% 7% 12% 10%;
	width: 100%;
	float: left;
}
.contact-call {
	width: 100%;
	float: left;
	padding-bottom: 17px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eeecea;
}
.contact-call span {
	font-size: 20px;	
}
.contact-call span:nth-child(1) {
	float: left;
}
.contact-call span:nth-child(2) {
	float: right;
	margin-left: 20px;
}
.contact-location {
	width: 100%;
	float: left;
	padding-bottom: 17px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eeecea;
}
.contact-location span {
	font-size: 20px;
	margin-bottom: 8px;
	display: block;
}
.contact-location span img {
	max-width: 28px;
	vertical-align: top;
}
.contact-location p {
	font-size: 13px;
}
.office-timing {
	width: 100%;
	float: left;
	padding-bottom: 17px;
}
.office-timing ul li {
	list-style: none;
}
.office-timing ul li span {
	margin-right: 20px;
    width: 140px;
    float: left;
    font-weight: 100;
}
.office-timing ul li {
	font-weight: bold;
}
.map {
	width: 100%;
	float: left;
}
.map iframe {
	border-radius: 5px;
}
.contact-form {
	width: 100%;
	float: left;
	padding: 13% 14% 7% 10%;
}
.contact-form-inner {
	width: 100%;
	float: left;
	background-color: #ffffff;
	padding: 40px;
	border-radius: 5px;
	box-shadow: 1px 1px 15px 0px #cecece;
}
.contact-form-inner h2 {
	text-align: center;
	font-size: 22px;
	margin: 0 0 20px 0;
	color: #55585a;
	font-weight: bold;
}
.contact-form-inner form input {
	height: 40px;
	font-size: 13px;
}
.contact-form-inner form textarea {
	width: 100%;
	height: 170px;
}
.contact-form-inner form button {
	float: right;
	background-color: #000;
	color: #ffffff;
	font-size: 12px;
	padding: 12px  26px;
	width: 40%;
}
.captcha-image {
	width: 60%;
	float: left;
}
.captcha-image img {
	width: 80%;
}
/**************** Inner Page header ******************/
.installation-header .main-header {
	border: none;
}
.installation-banner {
	background-image: url(images/installation-bg.jpg);
    width: 100%;
    float: left;
    position: relative;
    background-size: cover;
}
.ins-banner-cap {
	width: 400px;
	float: left;
	margin: 134px 0 40px 8%;
}
.ins-banner-cap h1 {
	color: #ffffff;
	font-size: 40px;
}
.ins-banner-cap p {
	color: #ffffff;
}
.installation-section {
	width: 100%;
	float: left;
	padding: 30px 0 80px;
	background-color: #ffffff;
}
.installation-section .container-fluid {
	padding: 0 8%;
}
.door-cat-sec {
	width: 100%;
	float: left;
	padding-bottom: 40px;
}
.door-cat-sec h2 {
	color: #000000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
}
.door-cat-sec ul {
	list-style: none;
	width: 40%;
	float: left;
	margin-bottom: 25px;
}
.door-cat-sec ul li {
	line-height: 24px;
}
.door-cat-sec ul li a {
	color: #000000;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.door-cat-sec ul li a:hover {
	color: #337ab7;
	text-decoration:  none;
}
.door-cat-sec p {
	float: left;
	padding-bottom: 35px;
	border-bottom: 1px solid #a3a3a3;
}
.door-cat-sec img {
	width: 100%;
	float: left;
}
.title-no-sec {
	width: 100%;
	float: left;
}
.title-no-sec h2 {
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 12px;
}
.title-no-sec p {
	margin-bottom: 35px;
}
.available-door-sec  {
	width: 100%;
	float: left;
	border-radius: 	5px;
	box-shadow: 0px 0px 11px -1px #c3c3c3;
}
.avail-tittle {
	width: 100%;
	float: left;
	border-radius: 5px 5px 0 0;
	background-color: #000000;
	color: #ffffff;
	padding: 7px 20px;
}
.avail-tittle  span {
	font-size: 17px;
}

.avail-tittle span a {
	color: #ffffff;
	text-decoration: underline;
}
.avail-tittle span:nth-child(1) {
	float: left;
}
.avail-tittle span:nth-child(2) {
	float: right;
	font-size: 12px;
	padding: 3px 0;
}
.avail-door-list {
	width: 100%;
	float: left;
	padding: 30px 50px 30px;
}
.avail-door-list ul {
	width: 33%;
	float: left;
}
.avail-door-list ul li {
	list-style: none;
	padding-left: 10px;

}
.avail-door-list ul li a {
	font-size: 13px;
	color: #242021;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.avail-door-list ul li a:hover {
	color: #337ab7;
	text-decoration: none;
}
.avail-door-list ul li:first-child {
	padding-left: 0px;
	margin-bottom: 7px;
}
.avail-door-list ul li:first-child a {
	color: #000000;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;

}
.istallation-quote {
	width: 100%;
	float: left;
	margin-top: -45%;
}



footer {
	width: 100%;
	float: left;
	background-color:#000000;

}
.footer-top {
	width: 100%;
	float: left;
	padding: 28px 0px;
	border-bottom: 1px solid #333333;
}
footer .container-fluid {
	padding: 0 5%;
}
footer .footer-logo {
	float: left;
}
footer .footer-logo img {
	max-width: 240px;
}
footer .footer-social {
	padding: 16px 0;
}
footer .footer-social ul {
	float: right;
}
footer .footer-social ul li {
	list-style: none;
	display: inline-block;
}
footer .footer-social ul li a {
    color: #ffffff;
    font-size: 23px;
    margin: 0 10px;
    
}
footer .footer-social ul li a i {
	-webkit-transition: 0.2s;
    transition: 0.2s;
}
footer .footer-social ul li a:hover i {
	
	transform: scale(1.5);
}
footer .footer-social ul li span {
	font-size: 16px;
    margin-right: 40px;
}
.footer-main {
	width: 100%;
	float: left;
}
.footer-left, .footer-right {
	width: 50%;
	float: left;
}
.footer-left {
	padding: 5%;
}
.footer-right {
	padding: 4% 3% 0px 5%;
}
.footer-left {
	background-image: url(images/footer-bg.jpg);
	background-size: cover;
	position: relative;
}
.footer-tittle {
	margin-bottom: 70px;
}
.footer-tittle h1 {
	color: #ffffff;
    font-family: 'Actor';
    font-size: 34px;
    margin: 0;
}
.footer-tittle p {
	color: #ffffff;
	font-size: 24px;
}
.footer-left .border-line {
	content: '';
	background-color: #ffffff;
	height: 1px;
	width: 100px;
	position: absolute;
}
.footer-info {
	width: 80%;
	float: left;
	background-color: rgba(0,0,0,0.8);
	border-radius: 7px;
}
.footer-info p {
	margin-bottom: 0px;
}
.footer-location {
	width: 100%;
	float: left;
	border-bottom: 1px solid #2d2d2d;
    padding: 30px 25px 15px;
}
.footer-location p {
	color: #e0e0e0;
	font-size: 16px;
}
.footer-location p i {
	height: 30px;
    float: left;
    font-size: 28px;
    margin-right: 20px;
    line-height: 34px;
}
.office-time {
	width: 100%;
	float: left;
	border-bottom: 1px solid #2d2d2d;
	padding: 15px 25px 7px;
}
.office-time ul li {
	list-style: none;
    color: #ffffff;
    font-size: 15px;
    line-height: 26px;
}
.office-time ul li span {
	margin-right: 20px;
	width: 140px;
	float: left;
}
.footer-call {
	width: 100%;
	float: left;
	padding: 15px 25px;
}
.footer-call p {
	color: #ffffff;
	font-size: 15px;
}
.footer-call p i {
	margin-right: 12px;
}
.footer-call p a { color: #ffffff; }
.footer-call p a:hover { color: #888; text-decoration: none; }
.footer-right ul li {
	list-style: none;
	display: inline-block;
}
.footer-right .footer_title {
	color: #ffffff;
	font-size: 24px;
	font-family: 'Actor'; 
	margin-bottom: 8px;
}
.footer-right ul li.footer-links-block {
	line-height: 28px;
	width: 49%;
	vertical-align: top;
}
ul.footer-right-link li {
	display: block;
}
ul.footer-right-link li a {
	color: #838383;
	font-size: 16px; 
	text-decoration: none;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

ul.footer-right-link li a:hover {
	color: #ffffff;	
}

.socket {
	background-color: #000000;
	padding: 15px;
	text-align: center;
	color: #ffffff;
	border-top: solid 1px #2a2a2a;
}

.socket a {
	float: right;
	color: #ffffff;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	font-size: 22px;
}
.socket a:hover {
	transform: scale(1.8);
}

/**************** Media Quries ******************/

@media only screen and (max-width: 1280px) {
    .navbar-brand {
    	height: 70px; 
    }
    header .navbar-default .navbar-nav {
    	margin-left: 0em !important;
    }

    .footer-info {
	    width: 100%;
	}
}

@media only screen and (max-width: 992px) {
    body {
        background-color: lightblue;
    }
    .istallation-quote {
    	margin-top: 0%;
    }
}

@media only screen and (max-width: 768px) {
    header .nav > li {
    	text-align: center;
    	
    }
    .header-quote {
    	border-radius: 5px !important;
    }
    header .navbar-right {
    	margin-right: 0px !important;
    }
    .navbar-nav .open .dropdown-menu {
    	background-color: #ffffff;
    }
    .navbar-collapse {
		background: rgba(0, 0, 0, 0.5);
	}
    footer .footer-logo {
    float: left;
    width: 100%;
    text-align: center;
    }
    footer .footer-social {
    width: 100%;
    float: left;
    text-align: center;
    }
    footer .footer-social ul { float: none !important; }
    footer .footer-social ul li a {
    margin: 0 5px !important;
    }
    .footer-left, .footer-right { width: 100% !important; float: left; }

    .services .service-img {		
		width: 100%;
	}

	.header-botom .navbar-nav > li {
	    margin: 5px 3px;
	    border: 1px solid #fff;
	    padding: 0px 7px;
	    -webkit-transition: 0.3s;
		transition: 0.3s;
    }
    .header-botom .navbar-nav > li:hover {
    	background-color: #f08f11;
    }
    .header-botom .navbar-default .navbar-nav > li.active {
    	background-color: #f08f11;
    }
    .banner-slider i {
    	top: 38%;
    	font-size: 2em;
    }
    .contact-info {
    	padding: 7% 1%;
    }
    .contact-form {
    	padding: 7% 4%;
    }
    .installation-section .container-fluid {
    padding: 0 5%;
    }
    .door-cat-sec ul  {
    	width: 50%;
    	float: left;
    }
    .avail-door-list {
    	padding: 20px;
    }
	
}

@media only screen and (max-width: 480px) {
	.install-desc {
		padding: 25px 10px;
	}
	.install-desc h3 {
		margin-top: 0px;
		font-size: 20px;
	}
	.caption-button {
		padding-bottom: 10%;
	}
	.moulding-collection .collection-caption p,
	.columns-collection .collection-caption p {
		display: none;
	}

	.footer-right ul li.footer-links-block {
		width: 98%;
		margin-top: 20px;
	}
	footer .footer-social ul li span {
		margin-right: 20px;
	}
	.contact-call span:nth-child(2) {
    	float: left;
    }
    .office-timing ul li span {
    	width: 120px;
    }
    .ins-banner-cap {
	    width: 100%;
	    float: left;
	    margin: 100px 0 20px;
	    padding: 0 30px;
    }
    .door-cat-sec ul  {
    	width: 100%;
    	float: left;
    }
    .avail-door-list ul {
    	width: 100%;
	    float: left;
	    text-align: center;
	    margin-bottom: 20px;
    }
    .ins-banner-cap h1 {
    	font-size: 36px;
    }
    .avail-tittle span {
    	display: block;
    	width: 100%;
    	text-align: center;
    }
}